

.container {
    width: 350px;
    display: flex;
    flex-flow: column;
}

.timeline {
    flex: auto;
    overflow-y: auto;
    padding: 20px 10px !important;
}

.timeline :global(.ant-timeline-item) {
    font-size: 12px;
}

.timeline :global(.ant-timeline-item) p {
    margin: 0 !important;
}

.container :global(.ant-btn-sm) {
    border-radius: 0;
    font-size: 12px;
}

.container :global(.ant-input-sm) {
    border-radius: 0;
    font-size: 12px;
}
